<div class="main_container container-fluid">
  <div class="login_box">
      <form>
        <div class="row">
          <div class="form-group col-4">
            <input type="text" placeholder="Username" class="custom_fields form-control">
          </div>
        </div>
        <div class="row">
            <div class="form-group col-4">
              <input type="password" placeholder="Password" class="custom_fields form-control">
            </div>  
        </div>
              <div class="row">
                <div class="col-4">
                  <button type="submit" class="btn btn-primary mb-2">Login</button>
                </div>
              </div>        
        </form>
  </div>
</div>
