<!-- Container for sidebar(s) + page content -->
<ng-sidebar-container style="height: 100vh;">

  <!-- A sidebar -->
  <ng-sidebar [(opened)]="leftopen" mode="push" dock=true dockedSize='50px'>
    <div class="sidebar">
      <div class="sidebar_brand">
        <div class="row">
          <div class="col-8"><a [routerLink]="['./']">ProjectX</a></div>
          <div class="col-4"><a [routerLink]="['./']"><i class="fab fa-accusoft"></i></a></div>
        </div>
      </div>
      <hr style="color: aliceblue;">
      <div class="row">
        <div class="col-8"><a [routerLink]="['dashboard']">DashBoard</a></div>
        <div class="col-4"><a [routerLink]="['dashboard']"><i class="fas fa-tachometer-alt"></i></a></div>
      </div>
      <div class="row">
        <div class="col-8"><a [routerLink]="['missions']">Missions</a></div>
        <div class="col-4"><a [routerLink]="['missions']"><i class="fas fa-cogs"></i></a></div>
      </div>
      <div class="row">
          <div class="col-8">Web</div>
          <div class="col-4"><i class="fas fa-globe"></i></div>
      </div>
      <div class="row">
          <div class="col-8">Twitter</div>
          <div class="col-4"><i class="fab fa-twitter"></i></div>
      </div>
    </div>
  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content>
    <nav class="navbar navbar-expand-lg bg-secondary">
      <span><i class="navbar-brand fas fa-bars" (click)="ToggleLeftSidebar()"></i></span>
        <div class="navbar-nav mr-auto">
          <div class="align-middle" style="padding-top: 0.5%;"><b>Active Mission</b> : <i style="color: rgb(233, 146, 15);"> Xyz Mission</i></div>
          <div class="logo d-flex flex-row justify-content-end">
          <div class="align-middle"><img src="../../assets/images/Logo_TV_2015.png" style="height: 35px; width: 70px;"></div>
          <div class=""><img src="../../assets/images/1200px-NASA_logo.png" style="height: 35px; width: 70px;"></div>
          </div>
          </div>
        <div class="my-2 my-lg-0">
          <i class="fas fa-user my-2 my-sm-0" (click)="ToggleRightSidebar()"></i>
        </div>
    </nav>
    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </div>

  <ng-sidebar [(opened)]="rightopen" position="right" mode="push" dock=false>
      <div class="sidebar">
        <!-- <div class="sidebar_brand">
          <div class="row">
            <div class="col-4"><i class="fas fa-tachometer-alt"></i></div>
            <div class="col-8">ProjectX1</div>
          </div>
        </div>
        <hr> -->
        <div class="row">
          <div class="col-4"><i class="fas fa-user-circle"></i></div>
          <div class="col-8">Profile</div>
        </div>
        <div class="row">
          <div class="col-4"><i class="fas fa-user-cog"></i></div>  
          <div class="col-8">Settings</div>
        </div>
        <div class="row">
          <div class="col-4"><i class="far fa-question-circle"></i></div>
          <div class="col-8">Help</div>
        </div>
        <div class="row">
          <div class="col-4"><i class="fas fa-sign-out-alt"></i></div>
          <div class="col-8">Logout</div>    
        </div>
      </div>
    </ng-sidebar>

</ng-sidebar-container>